.qw0.white{
	background-color: #ebebeb;
}

.qw1.brown{
	background-color: #8f6f23;
}

.qw2.light-blue{
	background-color: #8f6f23;
}

.qw3.green{
	background-color: #8f6f23;
}

.qw4.red{
	background-color: #8f6f23;
}

.qw5.orange{
	background-color: #8f6f23;
}

.qw6.gold{
	background-color: #8f6f23;
}

.qw7.peach{
	background-color: #8f6f23;
}

.qw8.purple{
	background-color: #8f6f23;
}

.qw9.magenta{
	background-color: #;
}

.qw10.tan{
	background-color: #;
}

.qw11.tuna{
	background-color: #;
}

.qw12.yellow{
	background-color: #;
}

.qw13.blue{
	background-color: #;
}